/* universal rules */
html, body {
  background-color: #c53a3e;
  margin: 0;
  height: 100%;
  width: 100%;
}
*{
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}
img {
  display:block;
}

/* header */
header{
  overflow: hidden;
  background-color: maroon;
  /*border: 5px outset maroon;*/
}
header a {
  float: left;
  padding: 15px;
  color: teal;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}
header a:hover{
  background-color: #1d579e;
  color: white;
}
header > a{
  margin-right: 15px;
}

/* -------------------------- */
body > h1,p{
  text-align: center;
  margin: 20px;
}
body > p{
  width: 70%;
  margin: auto;
}
nav{
  background-color: #ffb89e; 
  border: 5px solid black; 
  margin: 20px auto; 
  height: 30vh; 
  width: 50%;
  overflow: hidden;
}
nav h2{
  margin: 10px;
  text-align: center;
}
nav a{
  border: 1px solid black; 
  float: left;
  display: block;
  text-decoration: none;
  color: red;
  position: relative;
  left: 16%;
}

article{
  margin: 50px auto;
  width: 560px;
}
iframe{
  display: block;
}
article p{
  font-size: 0.8em;
  color: cyan;
  margin: 0;
}

/* ----------- footer ---------- */
footer{
  font-size: 0.75em;
  padding: 10px;
  border-top: 1px solid silver;
  background-color: maroon;
  color: silver;
  position: sticky;
  bottom: 0;
}
footer p{
  margin: 0;
  text-align: left;
}
footer a{
  font-weight: bold;
  padding: 2px;
  float: right;
  color: teal;
  text-decoration: none;
}
footer a:hover{
  background-color: #1d579e;
  color: white;
}
