/* universal rules */
html, body {
  background-color: #c53a3e;
  margin: 0;
  height: 100%;
  width: 100%;
}
*{
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}
img {
  display:block;
}

/* header */
header{
  overflow: hidden;
  background-color: maroon;
  /*border: 5px outset maroon;*/
}
header a {
  float: left;
  padding: 15px;
  color: #00c6c6;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}
header a:hover{
  background-color: #1d579e;
  color: white;
}
header > a{
  margin-right: 15px;
}
/* -------------------------- */

/* title/description/intro to website */
body > h1{
  margin: 20px auto;
  text-align: center;
  font-size: 3.5em;
  color: black;
  display: block;
  width: fit-content;
  padding: 3px;
}
body > p{
  text-align: center;
  width: 70%;
  margin: auto;
}

/*navigation*/
nav{
  background-color: #ffb89e; 
  border: 5px solid black; 
  margin: 20px auto; 
  height: 30vh; 
  width: 50%;
  overflow: hidden;
}
nav h2{
  margin: 10px;
  text-align: center;
}
nav a{
  border: 1px solid black; 
  float: left;
  display: block;
  text-decoration: none;
  color: red;
  position: relative;
  left: 16%;
}
figure{
  margin: auto;
  width: fit-content;
}
figure a{
  text-decoration: none;
  margin: 0 auto;
  padding: 2px;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  font-size: 1.2em;
  border: 5px outset black;
  background-color: maroon;
  display: block;
  float: left;
  width: 20%;
  text-align: center;
}
figure div{
  width: 600px;
  height: 600px;
  border: 5px outset black;
  background-image: url("/images/placeholder-square.jpg");
  clear: left;
}
figure a:hover{
  background-color: #1d579e;
  transform: scaleY(1.2);
  transform-origin: bottom;
  transition-duration: 0.5s;
  transition-property: all;
}
figure a:hover ~ div{
  animation: shake 0.2s ease-out 0s 5 normal;
}
@keyframes shake{
  0% {transform: translateX(-2px)}
  50% {transform: translateX(2px)}
  100% {}
}
  
figure #digestive:hover ~ div{
  background-image: url("/images/organ_systems/digestive.jpg");
}
figure #respiratory:hover ~ div{
  background-image: url("/images/organ_systems/respiratory.jpg");
}
figure #circulatory:hover ~ div{
  background-image: url("/images/organ_systems/circulatory.jpg");
}
figure #nervous:hover ~ div{
  background-image: url("/images/organ_systems/nervous.jpg");
}
figure #urinary:hover ~ div{
  background-image: url("/images/organ_systems/urinary.jpg");
}

/* youtube video */
article{
  margin: 50px auto;
  width: 560px;
}
iframe{
  display: block;
}
article p{
  font-size: 0.8em;
  color: black;
  margin: 0;
  text-align: center;
}

/* ----------- footer ---------- */
footer{
  font-size: 0.75em;
  padding: 10px;
  border-top: 1px solid silver;
  background-color: maroon;
  color: silver;
  position: sticky;
  bottom: 0;
}
footer p{
  margin: 0;
  text-align: left;
}
footer a{
  font-weight: bold;
  padding: 2px;
  float: right;
  color: teal;
  text-decoration: none;
}
footer a:hover{
  background-color: #1d579e;
  color: white;
}

#dgv:hover {
  opacity: ;
}