/* universal rules */
html, body {
  background-color: #c53a3e;
  margin: 0;
  height: 100%;
  width: 100%;
}
*{
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}
img {
  display:block;
}

/* header */
#header{
  overflow: hidden;
  background-color: maroon;
  /*border: 5px outset maroon;*/
}
#header a {
  float: left;
  padding: 15px;
  color: teal;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}
#header > a{
  margin-right: 15px;
  height: 70%;
}
/* -------------------------- */

p {
  background-color: blanchedalmond
}

body {
  background-color: #ffc09e;
  padding: 10px;
}

h3 {
  background-color: pink;
}

div {
  background-color: #CCCC99;
  border: 2px solid black;
} 

img.organ {
  float: right;
  height: 93px;
  width: 100px;
}

